# Logs
*.log
data/Aord_verz/Logging/*.log.*

# Vendor
vendor/

# Environment
.env
config/local.php

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests
tests/coverage/

# Temp
tmp/
cache/

# Fotos
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.tif
*.TIF
*.doc
*.DOC
*.pdf
*.xls
*.lnk
*.zip
*.msg